[run]
branch = True
source = __YOUR_PROJECT_FOLDER__

[report]
exclude_lines =
    raise NotImplementedError()
    if __name__ == .__main__.:
    pass
ignore_errors = True
omit =
    peanut_launcher/*
    setup.py
